.menu-button{
    -fx-background-color: #33CCCC;
    -fx-text-fill: white;
    -fx-background-radius: 10 10 10 10 ;
}

.menu-button .label{
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: black;

}

.menu-item:focused {

    -fx-background-color: #33CCCC;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.list-view {
    -fx-background-insets: 0 ;
    -fx-border-color: transparent;
}

.list-view .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}
.list-view .list-cell:filled:hover {
    -fx-background-color: rgba(51, 204, 204, 0.63);
    -fx-text-fill: black;
}

.list-view .list-cell:filled:selected {
    -fx-background-color: rgba(51, 203, 203, 0.83);
    -fx-text-fill: white;
}

.hbox_title {
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
    -fx-background-color: #33CCCC;
}

.hbox_title .label{
    -fx-text-fill: white;
    -fx-padding: 0 20 0 20;
    -fx-background-insets: 10 10 10 10;
}

.button{
    -fx-background-color: #00ccc0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: white;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button:hover {
    -fx-background-color: #1199CC;
    -fx-text-fill: white;
}