
.toggle-button:hover {
    -fx-background-color: #1199CC;
    -fx-text-fill: white;
}

.toggle-button:selected{
    -fx-background-color: #00ccc0;
    -fx-text-fill: white;
}
.toggle-button_add {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: #33CCCC;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.toggle-button_modify {
    -fx-background-color: white;
    -fx-text-fill: #33CCCC;
    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.toggle-button_remove {
    -fx-background-color: white;
    -fx-text-fill: #33CCCC;
    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.hbox {
    -fx-background-color: gainsboro;
    -fx-background-insets: 10, 10 ,10 ,10;
}

.vbox_time {
    -fx-background-color: #33CCCC;
    -fx-padding: 0,-10,0,-10;
    -fx-background-insets: -5, -5 ,-5, -5;
    -fx-text-fill: white;
}

.pane_main {
    -fx-background-color: gainsboro;
    -fx-text-fill: white;
    -fx-background-insets: 10, 10 ,10 ,10;
    -fx-padding: 20,20,20,20;
}

.label {
    -fx-text-fill: darkslategray;
}

.label_time {
    -fx-background-color: #ff8106;
    -fx-padding: 5,5,5,5;
    -fx-background-insets: 2, 2 ,2, 2;
    -fx-text-fill: white;
}